<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationBarClear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5F86F821F316F9F008D8334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F86F9B1F316F9F008D8334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F86FA61F316F9F008D8334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
